<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!-- build:css ../static/build/css/lib.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css ../static/build/css/app.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>

    <!-- build:js ../static/build/js/lib.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js ../static/build/js/app.js -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- endbuild -->
</body>
</html>
